div.visible {
    background-color: black;
    color: rgb(180, 9, 9);
    width: 150px;
    height: 200px;
    border: 3px dotted yellow;
    overflow:visible;
}

div.hidden {
    position: absolute;
    background-color: green;
    right:10px;
    top:15%;
    width: 150px;
    height: 200px;
    border: 1px solid red;
    overflow:auto;

}

.container {position: relative;
    border:2px solid rebeccapurple;
    ;}