<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Center Align elements</h1>
    <p>To horizontally center a block element (like div), use margin: auto;</p>
    <div class="center">
            <p><strong>Note: </strong>Using margin:auto will not work in IE8, unless a !DOCTYPE is declared.</p>
    </div>

    <div class="image">
        <p>To center an image, set left and right margin to auto, and make it into a block element.</p>
        <img src="apple.jpg" alt="apple" style="width:40%">
    </div>

    <div class="right">
            <p>In my younger and more vulnerable years my father gave me some advice that I've been turning over in my mind ever since.</p>
    </div>

    <div class="floatR">
            <p>In my younger and more vulnerable years my father gave me some advice that I've been turning over in my mind ever since.</p>
    </div>

    <div class="center">
          <p>To center both vertically and horizontally, use padding and text-align: center:
              I am vertically and horizontally centered.</p>
    </div>

    <div class="centerlh">
        <p>Center Vertically - Using line-height</p>
        <p>Another trick is to use the line-height property with a value that is equal to the height property.</p>
        <p>I am vertically and horizontally centered.</p>
    </div>

    <div class="centertrans">
            
            <p>I am vertically and horizontally centered.</p>
        </div>


    
</body>
</html>