<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Navigation Links</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="navstyle.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Using inline-block to Create Navigation Links</h1>
    <h2>Horizontal Navigation Links</h2>
    <p>By default, list items are displayed vertically. 
        In this example we use display: inline-block to display them horizontally (side by side).</p>
<p>Note: If you resize the browser window, the links will automatically break when it becomes too crowded.</p>
<ul class="nav">
    <li><a href="#home">Home</a></li>
    <li><a href="#About">About</a> </li>
    <li><a href="#Our Clients">Our Clients</a></li> 
    <li><a href="#contact Us"> Contact Us</a></li>
</ul>
    
</body>
</html>